:root{
    --color-nav:#049DBF;
    --color-nav-dark: #02687F;
    --color-footer:rgba(22, 8, 8, 0.7);
    --color-white: #fff;
    --color-black:#000;
    --color-h2:#CF9033;
}

*{
    margin:0;
    padding: 0;
    text-decoration: none;
}

body{
    background-image: url(./img/fondo2.gif); 
    background-repeat: no-repeat;
    background-size: 2000px;
    background-attachment: fixed;
}

h2{
    font-family: 'HarryPotter7';

    font-size: 30px;
    color:var(--color-h2);
    text-align: center;
}

@font-face {
    font-family: 'HarryPotter7';
    src: url('http://www.fontsaddict.com/fontface/harrypotter7.ttf');
  }
  

/*Barra superior*/
.main-header{
    background-color: var(--color-header);
    color: var(--color-while);
    margin: 1%;
}

.main-nav{
    background-color: rgba(22, 8, 8, 0.7); 
}

.nav-containerItem{
    text-align:center;
    line-height: 2.5; 
    display: flex;
    justify-content: space-between; 
    align-items: initial;
}

.nav-containerLink{
    color: var(--color-white);
 /*    width: 100%; */
}

/*Seccion de inicio*/
/* #pagInicio{
    background-color: burlywood;
} */
/*logo*/
#logo{
    width: 8%;
}

/*↓menu hamburguesa*/
#check{
    display: none;
}

#icone{
    cursor: pointer;
    padding: 10%;
    position: absolute;
    z-index: 1;
}

.barra{
    /* background-color: #333; */
    height: 100%;
    width: 180px;
    position: absolute;
    transition: all .2 linear;
    left: -300px;
}

.nav-menu{
    width: 100%;
    position: absolute;
}

.nav-menu a{
    text-decoration: none;
}
.link{
    background-color: #020626;
    padding: 20px;
    font-family: "SofiaProRegular";
    src: url(./font/SofiaProRegular.otf);
    font-size: 12pt;
    transition: all .2s linear;
    color: #f4f4f9;
    border-bottom: 2px slid #222;
    opacity: 0;
    margin-top: 200px;
}

.link:hover{
    background-color: #668999;
}

#check:checked ~ .barra {
    transform: translate(300px);
} 

  #check:checked ~ .barra nav a .link {
    opacity: 1;
    margin-top: 0;
    transition-delay: .2s; } 
/*↑fin menu hamburgueza*/


/*Seccion de Personajes*/
.pag-personajes{
    /* width: 80%; */
    display: flex;
    justify-content: center;
}

.selectores{
    background-color: rgba(222, 196, 157, 0.80);
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 12%;
    right: 10%;
    margin: 1%;
    padding: 0.5%;
/*     font-family: "SofiaProRegular";
    src: url(./font/SofiaProRegular.otf); */
    border-radius: 1em;
    font-size: 1em;    
}  

.cont-personajes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
}

#root {
    background-color: rgba(22, 8, 8, 0.7);
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    background-image: url(./img/gryffindor.jpg);
    background-size: 100% ;
    width: 10%;
    right: 30%; 
    margin: 1%;
    padding-top: 2%;
    padding-left: 2.5%;
    border-radius: 10px;
}
.cardgryffindor{
    background-image: url(./img/gryffindor.jpg);
    background-size: 100% ;
    width: 10%;
    right: 30%; 
    margin: 1%;
    padding-top: 2%;
    padding-left: 2.5%;
    border-radius: 10px;
}

.cardhufflepuff{
    background-image: url(./img/hufflepuff.jpg);
    background-size: 100% ;
    width: 10%;
    right: 30%; 
    margin: 1%;
    padding-top: 2%;
    padding-left: 2.5%;
    border-radius: 10px;
}

.cardravenclaw{
    background-image: url(./img/ravenclaw.jpg);
    background-size: 100% ;
    width: 10%;
    right: 30%; 
    margin: 1%;
    padding-top: 2%;
    padding-left: 2.5%;
    border-radius: 10px;
}

.cardslytherin{
    background-image: url(./img/slytherin.jpg);
    background-size: 100% ;
    width: 10%;
    right: 30%; 
    margin: 1%;
    padding-top: 2%;
    padding-left: 2.5%;
    border-radius: 10px;
}


.imgPersonaje{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.namePersonaje{
    font-family: "BluuNext-Blod";
    src: url(./font/BluuNext-Blod.otf);
    color: #CF9033;
    font-size: 100%;
    text-align: justify;
}
/*footer*/
footer{
    background-color: rgba(22, 8, 8, 0.7);
    width: 100%;
    height: 5%;
    bottom: 0;
    position: fixed;
    text-align: left;
    color: white;
}
/*Tablet*/
@media screen and (min-width:768px){
    .nav-container{
        display: flex;
    }

    .nav-containerItem{
        flex-grow: 1;
    }
}